web_dev:
  build: .
  dockerfile: Dockerfile.dev
  ports:
    - "5000:5000"
  command: iex -S mix phx.server
  environment:
    - MIX_ENV=dev
    - PORT=4000
  volumes:
    - .:/app
  links:
    - db

db:
  image: postgres
  environment:
    - POSTGRES_USER=postgres
    - POSTGRES_PASSWORD=postgres
    - POSTGRES_HOST=db
  ports:
  - "5432"
